<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="stepwise-filter test">
      <file>tests/testFilterDataBuilder.php</file>
			<file>tests/testFilterData.php</file>
			<file>tests/testTaxFilter.php</file>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>ajax</group>
    </exclude>
  </groups>
</phpunit>
